<div class="interactive-wrapper">
    <div class="elections-maps-wrapper">

    	<div class='elections-map-wrapper' id="elections-geographical">
    		<div class="elections-standfirst" id="geographical-standfirst">
    			PP won majority of provinces in 2016...
			</div>
    		
    	</div>
    	<div class='elections-map-wrapper' id="elections-cartogram">
    		<div class="elections-standfirst" id="geographical-standfirst">
    			...whereas Podemos and PSOE obtained most of their deputies from major cities as Barcelona or Seville
			</div>
    	</div>
    	
    </div>
</div>