<div class="interactive-wrapper">
	<div class="elections-maps-wrapper">

	<div class='elections-map-wrapper' id="elections-geographical">
		
		<div class="elections-map-headline">Number of seats per province</div>
		<div id="coropleth">
			<div class='tooltip'>
				<div class='tooltip-title'>
					<div class="tooltip-province"></div>
					<div class="tooltip-deputies"></div>
				</div>
				<div class="tooltip-results"></div>
			</div>
		</div>
	</div>
	<div class='elections-map-wrapper' id="elections-cartogram">

		<div class="elections-map-headline">Distribution of seats by party, 2016 election</div>
		<div id="elections-key">
			<ul>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="PP">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>PP</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="PSOE">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>PSOE</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="ECP">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>PODEMOS and coalitions</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="Cs">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>C's</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="ERC-CATSÍ">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>ERC-CATSÍ</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="CDC">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>CDC</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="EAJ-PNV">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>EAJ-PNV</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="EH Bildu">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>EH Bildu</div>
				</li>
				<li>
					<svg viewBox="0 0 11.9 11.8" class="CCa-PNC">
						<polygon class="st0" points="11.9,2.9 10.2,0 6.8,0 5.1,2.9 1.7,2.9 0,5.9 1.7,8.8 5.1,8.8 6.8,11.8 10.2,11.8 11.9,8.8 10.2,5.9"/>
					</svg>
					<div>CCa-PNC</div>
				</li>
				
			</ul>
		</div>
		
		<div id="cartogram">
			<div class='tooltip'>
				<div class='tooltip-title'>
					<div class="tooltip-province"></div>
					<div class="tooltip-deputies"></div>
				</div>
				<div class="tooltip-results"></div>
			</div>
		</div>
	</div>

	<div class='elections-map-wrapper' id="elections-polls"></div>
<!--     	<div class='elections-map-wrapper' id="elections-andalusia"></div>
	<div class='elections-map-wrapper' id="elections-catalonia"></div> -->

</div>
</div>