@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";


.element-atom,
.interactive-atom {

}

.element-atom{
	z-index:1000;
	margin-left: 0px !important;
	margin: 0px !important;
	background-color: white;
	max-width: 1260px;
/*	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;*/
	background:white;
/*	padding-top:7px;*/
}



.elections-maps-wrapper{

}

.elections-map-wrapper{
	position: relative;
	float:left;

}

#elections-geographical{
	margin-right: 50px;
}

.provincia{
	fill:#efefef;
}

.provincia-hex{
	fill-opacity:0;
	fill:#efefef;
	stroke:white;
	stroke-width:0.5px;

	@include mq(mobile) {
		stroke-width:0px;
	}

	@include mq(tablet) {
		stroke-width:0.5px;
	}
}
.comunidad{
	fill:none;
	stroke:white;
	pointer-events:none;
	stroke-linejoin: round;
	stroke-linecap:butt;
	

	@include mq(mobile) {
		stroke-width:1.2px;
	}

	@include mq(tablet) {
		stroke-width:2px;
	}
}

.deputy{
	stroke:#efefef;
	stroke-width:0.5px;
	fill:#efefef;
}

.Cs{
	fill:#ED6300;
}
.CDC, .PDC{
	fill:#ffabdb;
}
.EAJ-PNV{
	fill:#91b52d;
}
.ECP, .UP{
	fill:#951d7a;
}
.EH.Bildu{
	fill:#004e3a;
}
.ERC-CATSÍ, .ERC{
	fill:#f5be2c;
}
.GBAI{
	fill:#ffe500;
}
.PCOE{
	fill:#0cdc78;
}
.PODEMOS-COMPROMÍS-EUPV{
	fill:#951d7a;
}
.PODEMOS-EN.MAREA-ANOVA-EU{
	fill:#951d7a;
}
.PODEMOS-IU-EQUO{
	fill:#951d7a;
}
.PP{
	fill:#1896d7;
}
.PSOE{
	fill:#c70000;
}
.CCa-PNC{
	fill:#FFE500;
}
.VOX{
	fill:#9C835F;
}
.PAC{
	fill:#FFE6EC;
}
.null{
	fill:#b5b5b5;
}

.line-PSOE{
	fill:none;
	stroke-width:2px;
	stroke:#c70000;
}
.line-PP{
	fill:none;
	stroke-width:2px;
	stroke:#1896d7;
}
.line-Cs{
	fill:none;
	stroke-width:2px;
	stroke:#ED6300;
}
.line-UP{
	fill:none;
	stroke-width:2px;
	stroke:#951d7a;
}
.line-VOX{
	fill:none;
	stroke-width:2px;
	stroke:#9C835F;
}


.cartogram-label-outline{
	text-anchor: middle;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	stroke:#FFF;
	stroke-opacity: 0.6;
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap:butt;
	pointer-events: none;
	font-size: 13px;

	@include mq(mobile) {
		display: none;
	}

	@include mq(tablet) {
		display: block;
	}
}

.cartogram-label{
	text-anchor: middle;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	fill:#333;
	pointer-events: none;
	font-size: 13px;

	@include mq(mobile) {
		display: none;
	}

	@include mq(tablet) {
		display: block;
	}
}

.map-label{
	text-anchor: middle;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	fill:#333;
	pointer-events: none;
	font-size:12px;
}

.cartogram-number{
	text-anchor: start;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	font-size:14px;
	font-weight:800;
	fill:#333;
}

.map-label-circle{
	fill:white;
	stroke:black;
	pointer-events:none;
}

.cover{
	opacity: 1;
	fill:#efefef;
	stroke:#efefef;
	stroke-width:0.5px;
	pointer-events:none;
}

.tooltip{
	min-width:210px;
	padding:6px;
	position:absolute;
	z-index: 1011 !important;
	font-size: 12px;
	line-height: 16px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background: #fff;
	border: 1px solid #333;
	display:none;
	color: #333333;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #333;
	box-shadow: 2px 2px 0 0 #333;
	pointer-events:none;

	&.over{
		display: block;
	}


}

.tooltip-title{
	font-size: 14px;
	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
	font-weight: bold;
	color: #000;
	font-weight: 900;
	border-bottom: 1px solid #efefef;
	padding-bottom: 15px;
	margin-bottom:5px;
}

.tooltip-row {
	display: flex;
	flex-direction: row;
}

.tooltip-row:not(:last-child){
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
	height:20px;
}

.tooltip-party{
	position:relative;
	flex: 90%;

}

.tooltip-deputies{
	position:relative;
	justify-content: flex-end;
}

#elections-key{
	position:relative;
	font-size: 14px;
	line-height: 16px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin-bottom: 25px;
	pointer-events:none;
	min-height: 20px;

	@include mq(mobile) {
		margin-bottom: 40px;
	}

	@include mq(tablet) {
		margin-bottom: 10px;
	}
}

#elections-cartogram #cartogram{
	position:relative;
}


#elections-key svg{
	width: 12px;
	margin-right: 5px;
}

#elections-key ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#elections-key li{
	text-decoration: none;
	display: flex;
	float: left;
	width: auto;
	height: 15px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding-left: 0 !important;
}

.elections-map-headline{

	font-size: 21px;
	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
	font-weight: bold;
	color: #000;
	font-weight: 900;
	padding-bottom: 15px;

}

.line{
	fill: none;
	stroke: #333;
	stroke-width:1px;
}


